<%= form_for(@admin_state) do |f| %>
  <% if @admin_state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_state.errors.count, "error") %> prohibited this admin_state from being saved:</h2>

      <ul>
      <% @admin_state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :drupal_id %><br>
    <%= f.number_field :drupal_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
