<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @state.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @state.code %>
</p>

<p>
  <strong>Drupal:</strong>
  <%= @state.drupal_id %>
</p>

<%= link_to '<< Back', admin_states_path %>
